table {
  width: 70%;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: #04aa6d;
  color: white;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
  font-size: 22px;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
  font-size: 18px;
}